<!--Para en binding bidrireccional uso la dicrectiva ngmodel-->
<!--De nuevo necesitamos abtraccion a datos, por tanto este formulario solo va a guardar y se va abstraer de todo lo demas, solo comunicará al padre que se ha guardado
un contacto, y sera este por medio de la inyeccion de dependencias que tiene del servicio el que dira lo que hay que hacer, es muy importante la abstracción a datos 
en todos los puntos de mi app, que este componente no necesite saber nada de ellos solo que tiene que guardar y que sean los otros lo que seman que hay que hace con ellos
-->
<!--Lo que escriba en la caja de texto se va almacenar en un atributo llamado nombre-->

<form ngForm #contacto="ngForm" (ngSubmit)="notificarCreaccionContacto(contacto)">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" ngModel id="nombre" name="nombre" #nombre="ngModel" required minlength="3">
    </div>
    <div *ngIf="nombre.touched && nombre.invalid">El nombre es un campo obligatorio</div>
    <div>
        <label for="nombre">Email</label>
        <input type="text" ngModel id="email" name="email">
    </div>
    <div>
        <label for="movil">movil</label>
        <input type="text" ngModel id="movil" name="movil">
    </div>
    <div>
        <label for="facebook">Facebook</label>
        <input type="text" ngModel id="facebook" name="facebook">
    </div>
    <div>
        <label for="twitter">Twitter</label>
        <input type="text" ngModel id="twitter" name="twitter">
    </div>
    <!--Como voy a notificar tendre que exponer un output en mi formulario.ts un emisor de eventos-->
    <button type="submit" [disabled]="contacto.invalid">Guardar</button>
</form>